body {
    margin: 10px;
    font-family: Arial;
    transition: background 0.3s, color 0.3s;
    text-align: center;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

/* Image container */
.image-container {
    display: flex;
    gap: 50px;
    padding: 45px;
    justify-content: center;
}

/* Button */
button {
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid navajowhite;
}

/* ===== Flip Card ===== */

.card {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #f2f2f2;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Themes */
body.light {
    background-color: #ffffff;
    color: black;
}

body.dark {
    background-color: #121212;
    color: white;
}

body.dark .card-back {
    background-color: #1f1f1f;
    color: #fff;
}
